{% extends "base.html" %}

{% block content %}
    <div>
        <div class="page-title">
            <h3> Student List </h3>
            <p><a href="/create-student">create a new student?</a></p>
        </div>
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
        </form>

        <table id="student-table" class="table-class">
        <thead>
        <tr>
            <th class="student-name">Name</th>
            <th>Token</th>
            <th>Institution</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in filter.qs %}
            <tr>
                <td class="student-name">{{ obj.name }}</td>
                <td>{{ obj.token }}</td>
                <td>{{ obj.institution }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}