*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a{
    color: black;
}

a:hover{
    color: tomato;
}

.page-header, .page-title{
    padding-bottom: 2%;
    text-align: center;
}

.page-header{
    position: relative;
    top: 0;
    border-bottom: 0.15em solid black;
    margin: 10px;
}

h1, h3{
    display: inline-block;
    text-align: center;
}

h1, h3{
    font-weight: 400;
}

/*
h3{

    margin: 0;
    padding: 5px 0 5px 0;
}
*/


.form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type="text"], input[type="file"], select{
    width: 100%;
}

input[type="submit"], input[type="file"],
input[type="text"], select{
    border: 0.15em solid black;
    border-radius: 5%;
    min-width: 75px;
    height: 25px;
    text-align: center;
    background-color: white;
}

input[type="submit"]:hover, input[type="file"]:hover{
    box-shadow: 3px 3px 3px grey;
}

input[type="submit"]:active, input[type="file"]:active{
    box-shadow: -2px -2px 2px grey;
}

form>p, form, form>input{
    margin: 0.5em;
}

form>p>label{
    display: block;
    text-align: left;
    padding: 0.2em 0.2em 0 0;
}
form>p>input, form>p>select{
    display: block;
    text-align: left;
    margin: 0.5em 0.5em 0 0;
}

.footer{
    border-top: 0.15em solid black;

    height: 40px;
    text-align: center;
    margin: 5px 10px;
}
